@import "reset";
@import "variables";
@import "mixins";

body{
    background-image: url(../img/hypnotize.png);
    font-family: $defaultFont;
    color: $fontLight;
}

#main-nav{
    @include nav;
}

#ur-profile{
    @include iconSmall;
    background-image: url(../img/symbols/ur-profile-dark.png);
}

#profile-info{
    background-color: #ffc1c1;
    width: 40%;
    border-style: solid;
    border-color: red;
    border-width: 5px;
    border-radius: 15px;
    margin: 0 29%;
    p{
        text-align: center;
        margin: 70px 20px;
        font-size: 30px;
    }
}
